--extra-index-url https://download.pytorch.org/whl/cpu
numpy
torch
safetensors
requests
tqdm
huggingface_hub
gguf
tokenizers
transformers
attrs
referencing
rpds-py
jsonschema_specifications
typing_extensions
